<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BIOENEM - Editar Flashcard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='form_flashcard.css')}}">
</head>
<body>
<div class="container">
    <h1>Editar Flashcard</h1>

    <form method="POST">
        <textarea name="pergunta_frente">{{flashcard.Pergunta_frente}}</textarea>
        <textarea name="pergunta_verso">{{flashcard.Pergunta_verso}}</textarea>

        <select name="id_categoria">

            {% for categoria in categorias %}
                <option value="{{categoria.ID_Categoria}}">
                    {{categoria.Nome_categoria}}
                </option>
            {% endfor %}

        </select>
        <button>Salvar</button>
    </form>
</div>
</body>
</html>